# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: PP-Ecomm-App

on:
  push:
    branches:
      - main  # Run the workflow on every push to the 'main' branch
  pull_request:
    branches:
      - main  # Run the workflow on pull requests targeting the 'main' branch

jobs:
  build:
    runs-on: self-hosted 

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '17'  # Replace with your desired Node.js version

    - name: Set working directory
      run: |
        cd /home/octaloop/PP-Ecomm-App/actions-runner/PP-Ecomm-App

    - name: Build image
      run: |
        docker build -t pp-ecomm-app-image .

    - name: Run container
      run: |
        docker run -d -p 3000:3000 --name pp-ecomm-app-container pp-ecomm-app-image
    
    - name: Check if the container is running, then stop and remove it
      run: |
        if docker ps -q --filter "name=pp-ecomm-app-container"; then
          echo "Stopping and removing container pp-ecomm-app-container..."
          # Stop and remove the container
          docker stop pp-ecomm-app-container || true
          docker rm pp-ecomm-app-container || true
        else
          echo "Container pp-ecomm-app-container is not running. Skipping stop and remove."
        fi

    - name: Build application
      run: |
        npm run start
